.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#ColorList {
    display: block;
    min-height:250px;
}

.Remove{
            background-color: #FF004f;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size:16;
            padding: 5px 10px;
            cursor: pointer;
            margin-left: 10;
            font-weight:bold;
            border-radius: 5px
}
.Remove:hover{
        background-color: #d9534f;
        color:white

}
input {
    width: 250;
    height: 20;
    font-size:16;
    padding: 5
}